/** Content */

.content {
  margin-top: 40px;
}

.sidebar {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid $sidebar-border-color;
    border-radius: 6px;

    a {
      color: $text-color;
      line-height: 1em;
      vertical-align: middle;
    }

    > li {
      color: $sidebar-title-color;
      font-weight: bold;
      border-bottom: 1px solid $sidebar-border-color;
      padding: 20px;

      > ul li {
        list-style-image: url('../images/arrow.svg');
      }
    }
  }
}

article {
  color: $text-color;

  a {
    color: $link-color;
  }
}