[submodule "docs/4.1"]
	path = docs/4.1
	url = git@github.com:montogeek/laravel-docs-es.git
	branch = 4.1
[submodule "docs/5.0"]
	path = docs/5.0
	url = git@github.com:montogeek/laravel-docs-es.git
	branch = master
